<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>capule_active0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,43}</string>
                <key>spriteSize</key>
                <string>{118,228}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{587,241},{118,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capule_active0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,44}</string>
                <key>spriteSize</key>
                <string>{118,228}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{121,459},{118,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_active0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,46}</string>
                <key>spriteSize</key>
                <string>{118,228}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{121,689},{118,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_active0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,49}</string>
                <key>spriteSize</key>
                <string>{118,230}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{355,241},{118,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capule_active0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,51}</string>
                <key>spriteSize</key>
                <string>{118,232}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,715},{118,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_active0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,53}</string>
                <key>spriteSize</key>
                <string>{118,234}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,479},{118,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_active0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,54}</string>
                <key>spriteSize</key>
                <string>{118,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{483,121},{118,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capule_active0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,54}</string>
                <key>spriteSize</key>
                <string>{118,238}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{243,121},{118,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capule_active0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,52}</string>
                <key>spriteSize</key>
                <string>{118,240}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{118,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capule_active0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,49}</string>
                <key>spriteSize</key>
                <string>{118,240}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{243,1},{118,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capule_active0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,47}</string>
                <key>spriteSize</key>
                <string>{118,240}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{485,1},{118,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capule_active0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,45}</string>
                <key>spriteSize</key>
                <string>{118,240}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,121},{118,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capule_active0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,44}</string>
                <key>spriteSize</key>
                <string>{118,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,241},{118,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_active0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,44}</string>
                <key>spriteSize</key>
                <string>{118,232}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{121,241},{118,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capule_active0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,43}</string>
                <key>spriteSize</key>
                <string>{118,228}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{121,919},{118,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_active0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,43}</string>
                <key>spriteSize</key>
                <string>{118,228}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{241,361},{118,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capule_spawn0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,70}</string>
                <key>spriteSize</key>
                <string>{150,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{471,973},{150,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,70}</string>
                <key>spriteSize</key>
                <string>{150,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{471,973},{150,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,70}</string>
                <key>spriteSize</key>
                <string>{150,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{471,973},{150,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,70}</string>
                <key>spriteSize</key>
                <string>{150,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{471,973},{150,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,70}</string>
                <key>spriteSize</key>
                <string>{150,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{471,973},{150,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,70}</string>
                <key>spriteSize</key>
                <string>{150,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{471,973},{150,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,70}</string>
                <key>spriteSize</key>
                <string>{150,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{471,973},{150,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,70}</string>
                <key>spriteSize</key>
                <string>{150,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{471,973},{150,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,70}</string>
                <key>spriteSize</key>
                <string>{150,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{471,973},{150,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,70}</string>
                <key>spriteSize</key>
                <string>{150,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{471,973},{150,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,70}</string>
                <key>spriteSize</key>
                <string>{150,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{471,973},{150,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,70}</string>
                <key>spriteSize</key>
                <string>{150,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{471,973},{150,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,70}</string>
                <key>spriteSize</key>
                <string>{150,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{471,973},{150,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,70}</string>
                <key>spriteSize</key>
                <string>{150,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{471,973},{150,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,70}</string>
                <key>spriteSize</key>
                <string>{150,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{471,973},{150,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,70}</string>
                <key>spriteSize</key>
                <string>{150,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{471,973},{150,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,70}</string>
                <key>spriteSize</key>
                <string>{150,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{471,973},{150,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,70}</string>
                <key>spriteSize</key>
                <string>{150,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{471,973},{150,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,70}</string>
                <key>spriteSize</key>
                <string>{150,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{471,973},{150,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,70}</string>
                <key>spriteSize</key>
                <string>{150,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{623,973},{150,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,71}</string>
                <key>spriteSize</key>
                <string>{146,170}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{517,711},{146,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capule_spawn0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,73}</string>
                <key>spriteSize</key>
                <string>{140,172}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{241,711},{140,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,74}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{383,711},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,73}</string>
                <key>spriteSize</key>
                <string>{112,170}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{517,859},{112,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capule_spawn0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,70}</string>
                <key>spriteSize</key>
                <string>{110,166}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{775,973},{110,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,66}</string>
                <key>spriteSize</key>
                <string>{114,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{689,803},{114,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,61}</string>
                <key>spriteSize</key>
                <string>{118,178}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,949},{118,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,56}</string>
                <key>spriteSize</key>
                <string>{120,190}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{727,119},{120,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capule_spawn0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,51}</string>
                <key>spriteSize</key>
                <string>{116,202}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{727,1},{116,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capule_spawn0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,49}</string>
                <key>spriteSize</key>
                <string>{116,210}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{813,459},{116,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,48}</string>
                <key>spriteSize</key>
                <string>{114,214}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{241,891},{114,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,47}</string>
                <key>spriteSize</key>
                <string>{112,214}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{357,891},{112,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,47}</string>
                <key>spriteSize</key>
                <string>{112,216}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{817,241},{112,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,46}</string>
                <key>spriteSize</key>
                <string>{112,216}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{241,597},{112,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capule_spawn0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,45}</string>
                <key>spriteSize</key>
                <string>{114,216}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{241,481},{114,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capule_spawn0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,44}</string>
                <key>spriteSize</key>
                <string>{114,216}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{459,595},{114,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capule_spawn0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,44}</string>
                <key>spriteSize</key>
                <string>{114,218}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{809,671},{114,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,44}</string>
                <key>spriteSize</key>
                <string>{116,218}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{695,361},{116,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,45}</string>
                <key>spriteSize</key>
                <string>{114,220}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{471,479},{114,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capule_spawn0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,45}</string>
                <key>spriteSize</key>
                <string>{114,220}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{693,581},{114,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>capule_spawn0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,45}</string>
                <key>spriteSize</key>
                <string>{116,222}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{471,361},{116,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>capule.png</string>
            <key>size</key>
            <string>{930,1148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c7bc6bb036ce3eaebbe2360dbdba2e1:4328ce1913308c20f819cdfaaac34f59:36e2d645ce7d5bb7b11ad89e72217a4a$</string>
            <key>textureFileName</key>
            <string>capule.png</string>
        </dict>
    </dict>
</plist>
