<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>constructfunnel_active0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-18}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{127,1533},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_active0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-18}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{897,1489},{126,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_active0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-18}</string>
                <key>spriteSize</key>
                <string>{128,132}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{205,1403},{128,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_active0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-17}</string>
                <key>spriteSize</key>
                <string>{130,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{747,379},{130,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_active0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-17}</string>
                <key>spriteSize</key>
                <string>{130,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{737,517},{130,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_active0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-17}</string>
                <key>spriteSize</key>
                <string>{132,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{477,1281},{132,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_active0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-17}</string>
                <key>spriteSize</key>
                <string>{134,144}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{879,285},{134,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_active0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-16}</string>
                <key>spriteSize</key>
                <string>{136,146}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{477,1415},{136,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_active0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-15}</string>
                <key>spriteSize</key>
                <string>{138,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{621,981},{138,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_active0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-15}</string>
                <key>spriteSize</key>
                <string>{138,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{619,773},{138,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_active0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-15}</string>
                <key>spriteSize</key>
                <string>{138,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{759,773},{138,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_active0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-14}</string>
                <key>spriteSize</key>
                <string>{140,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{477,773},{140,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_active0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-14}</string>
                <key>spriteSize</key>
                <string>{140,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{479,981},{140,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_active0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-13}</string>
                <key>spriteSize</key>
                <string>{140,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{879,421},{140,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_active0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-13}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{761,977},{140,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_active0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-13}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{761,1127},{140,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_active0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-12}</string>
                <key>spriteSize</key>
                <string>{140,146}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{479,1133},{140,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_active0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-12}</string>
                <key>spriteSize</key>
                <string>{140,144}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{879,1},{140,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_active0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-11}</string>
                <key>spriteSize</key>
                <string>{140,144}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{879,143},{140,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_active0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-11}</string>
                <key>spriteSize</key>
                <string>{138,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{621,1131},{138,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_active0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-10}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{621,1273},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_active0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-10}</string>
                <key>spriteSize</key>
                <string>{138,134}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{761,1277},{138,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_active0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-10}</string>
                <key>spriteSize</key>
                <string>{136,130}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{625,1413},{136,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_active0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-10}</string>
                <key>spriteSize</key>
                <string>{134,126}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{341,1345},{134,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_active0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-9}</string>
                <key>spriteSize</key>
                <string>{134,122}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{755,243},{134,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_active0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-10}</string>
                <key>spriteSize</key>
                <string>{132,120}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{903,963},{132,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_active0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-13}</string>
                <key>spriteSize</key>
                <string>{130,120}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{903,1097},{130,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_active0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-15}</string>
                <key>spriteSize</key>
                <string>{128,122}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{727,649},{128,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_active0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-18}</string>
                <key>spriteSize</key>
                <string>{126,120}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{469,1553},{126,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_active0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-18}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{597,1553},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_active0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-18}</string>
                <key>spriteSize</key>
                <string>{124,128}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{899,573},{124,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_spawn0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,39}</string>
                <key>spriteSize</key>
                <string>{44,40}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{857,715},{44,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,39}</string>
                <key>spriteSize</key>
                <string>{44,40}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{857,715},{44,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,38}</string>
                <key>spriteSize</key>
                <string>{64,40}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{857,649},{64,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,38}</string>
                <key>spriteSize</key>
                <string>{90,44}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{301,1599},{90,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_spawn0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,37}</string>
                <key>spriteSize</key>
                <string>{122,46}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{253,1533},{122,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,36}</string>
                <key>spriteSize</key>
                <string>{156,50}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{673,925},{156,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_spawn0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,35}</string>
                <key>spriteSize</key>
                <string>{194,54}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{477,925},{194,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_spawn0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,34}</string>
                <key>spriteSize</key>
                <string>{230,58}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{445,469},{230,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,32}</string>
                <key>spriteSize</key>
                <string>{266,62}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{281,99},{266,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_spawn0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,31}</string>
                <key>spriteSize</key>
                <string>{296,66}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{219,221},{296,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,30}</string>
                <key>spriteSize</key>
                <string>{310,66}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,803},{310,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,30}</string>
                <key>spriteSize</key>
                <string>{308,66}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{69,803},{308,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,30}</string>
                <key>spriteSize</key>
                <string>{308,66}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{69,1113},{308,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,30}</string>
                <key>spriteSize</key>
                <string>{308,64}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{137,799},{308,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,30}</string>
                <key>spriteSize</key>
                <string>{308,66}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{137,1109},{308,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,30}</string>
                <key>spriteSize</key>
                <string>{308,66}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{205,1093},{308,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,30}</string>
                <key>spriteSize</key>
                <string>{308,66}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{273,783},{308,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,29}</string>
                <key>spriteSize</key>
                <string>{310,66}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1115},{310,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,28}</string>
                <key>spriteSize</key>
                <string>{308,66}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{273,1093},{308,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,26}</string>
                <key>spriteSize</key>
                <string>{308,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{203,783},{308,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,24}</string>
                <key>spriteSize</key>
                <string>{308,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{569,93},{308,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_spawn0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,22}</string>
                <key>spriteSize</key>
                <string>{306,70}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{287,163},{306,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,19}</string>
                <key>spriteSize</key>
                <string>{306,70}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{359,163},{306,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,16}</string>
                <key>spriteSize</key>
                <string>{304,72}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{431,163},{304,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,13}</string>
                <key>spriteSize</key>
                <string>{302,72}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{295,471},{302,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,9}</string>
                <key>spriteSize</key>
                <string>{300,74}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{369,471},{300,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,6}</string>
                <key>spriteSize</key>
                <string>{298,78}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{505,163},{298,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_spawn0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,3}</string>
                <key>spriteSize</key>
                <string>{296,82}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,505},{296,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,2}</string>
                <key>spriteSize</key>
                <string>{292,86}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{85,505},{292,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-1}</string>
                <key>spriteSize</key>
                <string>{290,90}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{569,1},{290,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_spawn0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-3}</string>
                <key>spriteSize</key>
                <string>{286,96}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{281,1},{286,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_spawn0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-6}</string>
                <key>spriteSize</key>
                <string>{282,100}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,221},{282,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-8}</string>
                <key>spriteSize</key>
                <string>{278,106}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{278,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_spawn0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-11}</string>
                <key>spriteSize</key>
                <string>{274,110}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,109},{274,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_spawn0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-13}</string>
                <key>spriteSize</key>
                <string>{268,114}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{103,221},{268,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-15}</string>
                <key>spriteSize</key>
                <string>{262,120}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{173,519},{262,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-17}</string>
                <key>spriteSize</key>
                <string>{256,124}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1427},{256,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-19}</string>
                <key>spriteSize</key>
                <string>{248,126}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{505,243},{248,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_spawn0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-20}</string>
                <key>spriteSize</key>
                <string>{240,130}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{505,371},{240,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_spawn0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-21}</string>
                <key>spriteSize</key>
                <string>{230,132}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{505,503},{230,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_spawn0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-22}</string>
                <key>spriteSize</key>
                <string>{220,134}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{505,637},{220,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_spawn0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-23}</string>
                <key>spriteSize</key>
                <string>{206,134}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{341,775},{206,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-24}</string>
                <key>spriteSize</key>
                <string>{190,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{341,983},{190,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-23}</string>
                <key>spriteSize</key>
                <string>{168,134}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{341,1175},{168,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-22}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{763,1413},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_spawn0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-16}</string>
                <key>spriteSize</key>
                <string>{128,120}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{903,1229},{128,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-17}</string>
                <key>spriteSize</key>
                <string>{128,122}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{901,1359},{128,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-17}</string>
                <key>spriteSize</key>
                <string>{128,124}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{899,703},{128,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-18}</string>
                <key>spriteSize</key>
                <string>{128,124}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{899,833},{128,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>constructfunnel_spawn0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-18}</string>
                <key>spriteSize</key>
                <string>{128,124}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{339,1473},{128,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>constructfunnel_spawn0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-18}</string>
                <key>spriteSize</key>
                <string>{128,124}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{339,1473},{128,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>constructfunnel.png</string>
            <key>size</key>
            <string>{1024,1684}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fa3d904527f1005f0b96f6c098bd6c7:7de8a817cc29546463f144630900a2ed:1e8140bb491a99ea61ce8843f4d0885d$</string>
            <key>textureFileName</key>
            <string>constructfunnel.png</string>
        </dict>
    </dict>
</plist>
