<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>construct_activep2_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,27}</string>
                <key>spriteSize</key>
                <string>{320,312}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1,633},{320,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,27}</string>
                <key>spriteSize</key>
                <string>{318,312}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{323,1259},{318,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,27}</string>
                <key>spriteSize</key>
                <string>{320,312}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{323,317},{320,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,26}</string>
                <key>spriteSize</key>
                <string>{320,310}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{645,943},{320,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,26}</string>
                <key>spriteSize</key>
                <string>{318,310}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{967,943},{318,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,28}</string>
                <key>spriteSize</key>
                <string>{320,314}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{320,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,27}</string>
                <key>spriteSize</key>
                <string>{318,312}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{967,629},{318,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,27}</string>
                <key>spriteSize</key>
                <string>{320,312}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{645,1},{320,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,26}</string>
                <key>spriteSize</key>
                <string>{320,310}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1289,315},{320,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,27}</string>
                <key>spriteSize</key>
                <string>{320,312}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1,947},{320,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,27}</string>
                <key>spriteSize</key>
                <string>{320,312}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{323,631},{320,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,27}</string>
                <key>spriteSize</key>
                <string>{318,312}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1611,1},{318,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>construct_activep2_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,26}</string>
                <key>spriteSize</key>
                <string>{320,310}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1289,627},{320,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,26}</string>
                <key>spriteSize</key>
                <string>{318,310}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1609,1281},{318,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>construct_activep2_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,27}</string>
                <key>spriteSize</key>
                <string>{320,312}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{645,315},{320,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,27}</string>
                <key>spriteSize</key>
                <string>{320,312}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{967,1},{320,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,27}</string>
                <key>spriteSize</key>
                <string>{320,312}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1,1261},{320,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,26}</string>
                <key>spriteSize</key>
                <string>{320,310}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1287,939},{320,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,27}</string>
                <key>spriteSize</key>
                <string>{318,312}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1611,321},{318,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>construct_activep2_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,28}</string>
                <key>spriteSize</key>
                <string>{320,314}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1,317},{320,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,27}</string>
                <key>spriteSize</key>
                <string>{318,312}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1611,641},{318,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>construct_activep2_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,26}</string>
                <key>spriteSize</key>
                <string>{320,310}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1287,1251},{320,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,26}</string>
                <key>spriteSize</key>
                <string>{318,310}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{967,1255},{318,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,27}</string>
                <key>spriteSize</key>
                <string>{320,312}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{323,945},{320,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,27}</string>
                <key>spriteSize</key>
                <string>{318,312}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1609,961},{318,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>construct_activep2_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,27}</string>
                <key>spriteSize</key>
                <string>{320,312}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{645,629},{320,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,26}</string>
                <key>spriteSize</key>
                <string>{320,310}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{645,1255},{320,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,26}</string>
                <key>spriteSize</key>
                <string>{318,310}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1287,1563},{318,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,28}</string>
                <key>spriteSize</key>
                <string>{320,314}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{323,1},{320,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,27}</string>
                <key>spriteSize</key>
                <string>{320,312}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{967,315},{320,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_activep2_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,27}</string>
                <key>spriteSize</key>
                <string>{320,312}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1289,1},{320,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>construct_activep2.png</string>
            <key>size</key>
            <string>{1924,1874}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cdd3ac66c1ad6d2fb85664cf649167e:91aad81ef8617bbc727e0e19d26c558e:c4c13f85ff5aff411292de1c7c5eed22$</string>
            <key>textureFileName</key>
            <string>construct_activep2.png</string>
        </dict>
    </dict>
</plist>
