<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>construct_active0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,35}</string>
                <key>spriteSize</key>
                <string>{306,298}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{306,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_active0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,37}</string>
                <key>spriteSize</key>
                <string>{320,280}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1673,1},{320,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_active0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,38}</string>
                <key>spriteSize</key>
                <string>{334,264}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{643,1},{334,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_active0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,39}</string>
                <key>spriteSize</key>
                <string>{346,250}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{979,1},{346,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_active0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,40}</string>
                <key>spriteSize</key>
                <string>{358,232}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{979,253},{358,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_active0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,41}</string>
                <key>spriteSize</key>
                <string>{364,214}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{461,563},{364,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>construct_active0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,43}</string>
                <key>spriteSize</key>
                <string>{368,196}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{857,711},{368,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_active0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,39}</string>
                <key>spriteSize</key>
                <string>{368,184}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1227,687},{368,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_active0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,36}</string>
                <key>spriteSize</key>
                <string>{360,178}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{677,563},{360,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>construct_active0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,35}</string>
                <key>spriteSize</key>
                <string>{346,176}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1227,873},{346,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_active0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,35}</string>
                <key>spriteSize</key>
                <string>{322,176}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{283,601},{322,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>construct_active0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,35}</string>
                <key>spriteSize</key>
                <string>{288,176}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{625,273},{288,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>construct_active0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,35}</string>
                <key>spriteSize</key>
                <string>{244,176}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{693,925},{244,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>construct_active0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,36}</string>
                <key>spriteSize</key>
                <string>{232,178}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1729,491},{232,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_active0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,36}</string>
                <key>spriteSize</key>
                <string>{232,178}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1597,683},{232,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>construct_active0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,35}</string>
                <key>spriteSize</key>
                <string>{232,176}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1575,917},{232,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_active0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,35}</string>
                <key>spriteSize</key>
                <string>{230,176}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1809,903},{230,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>construct_active0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,34}</string>
                <key>spriteSize</key>
                <string>{230,180}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1777,671},{230,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>construct_active0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,29}</string>
                <key>spriteSize</key>
                <string>{240,190}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1487,491},{240,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_active0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,24}</string>
                <key>spriteSize</key>
                <string>{280,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1205,487},{280,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_active0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,21}</string>
                <key>spriteSize</key>
                <string>{308,206}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1669,283},{308,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_active0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,17}</string>
                <key>spriteSize</key>
                <string>{328,214}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1339,251},{328,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_active0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,15}</string>
                <key>spriteSize</key>
                <string>{340,220}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{871,909},{340,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_active0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,12}</string>
                <key>spriteSize</key>
                <string>{346,222}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{857,487},{346,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_active0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,16}</string>
                <key>spriteSize</key>
                <string>{348,236}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{343,929},{348,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_active0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,19}</string>
                <key>spriteSize</key>
                <string>{344,248}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1327,1},{344,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_active0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,22}</string>
                <key>spriteSize</key>
                <string>{340,258}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1,925},{340,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_active0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,26}</string>
                <key>spriteSize</key>
                <string>{332,270}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{309,1},{332,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_active0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,29}</string>
                <key>spriteSize</key>
                <string>{322,280}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1,601},{322,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>construct_active0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,32}</string>
                <key>spriteSize</key>
                <string>{314,288}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{309,273},{314,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>construct_active0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,35}</string>
                <key>spriteSize</key>
                <string>{306,298}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1,301},{306,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>construct_active.png</string>
            <key>size</key>
            <string>{1994,1184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a72b65f07ece5e19064eb48b1525eb0:f50e297a3e4e96da36584d61c36d7448:f3488d63245d195d5bd8b96e70208393$</string>
            <key>textureFileName</key>
            <string>construct_active.png</string>
        </dict>
    </dict>
</plist>
