<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>platonic_active0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-31}</string>
                <key>spriteSize</key>
                <string>{198,212}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1485,1297},{198,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_active0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-27}</string>
                <key>spriteSize</key>
                <string>{198,220}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1279,1059},{198,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>platonic_active0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-24}</string>
                <key>spriteSize</key>
                <string>{202,224}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1065,1635},{202,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>platonic_active0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-23}</string>
                <key>spriteSize</key>
                <string>{212,224}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1065,1409},{212,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>platonic_active0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-23}</string>
                <key>spriteSize</key>
                <string>{224,220}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1639,639},{224,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>platonic_active0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-24}</string>
                <key>spriteSize</key>
                <string>{248,208}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1709,1},{248,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>platonic_active0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-20}</string>
                <key>spriteSize</key>
                <string>{268,204}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1289,1},{268,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_active0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-13}</string>
                <key>spriteSize</key>
                <string>{282,204}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{797,587},{282,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_active0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-8}</string>
                <key>spriteSize</key>
                <string>{286,204}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{605,1499},{286,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_active0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-4}</string>
                <key>spriteSize</key>
                <string>{284,196}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{607,885},{284,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_active0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-8}</string>
                <key>spriteSize</key>
                <string>{288,190}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{689,1},{288,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_active0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-15}</string>
                <key>spriteSize</key>
                <string>{282,182}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{805,291},{282,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_active0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-13}</string>
                <key>spriteSize</key>
                <string>{280,184}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{989,283},{280,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_active0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-13}</string>
                <key>spriteSize</key>
                <string>{258,184}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1075,841},{258,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_active0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-19}</string>
                <key>spriteSize</key>
                <string>{222,194}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1709,861},{222,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>platonic_active0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-22}</string>
                <key>spriteSize</key>
                <string>{188,196}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1485,1697},{188,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_active0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-17}</string>
                <key>spriteSize</key>
                <string>{208,198}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1699,1675},{208,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_active0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-13}</string>
                <key>spriteSize</key>
                <string>{244,202}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1435,521},{244,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_active0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-9}</string>
                <key>spriteSize</key>
                <string>{280,198}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{881,1},{280,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_active0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-8}</string>
                <key>spriteSize</key>
                <string>{294,196}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{411,297},{294,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_active0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-15}</string>
                <key>spriteSize</key>
                <string>{302,214}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,307},{302,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_active0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-19}</string>
                <key>spriteSize</key>
                <string>{304,226}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{304,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_active0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-16}</string>
                <key>spriteSize</key>
                <string>{294,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{229,1},{294,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_active0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-26}</string>
                <key>spriteSize</key>
                <string>{268,274}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{805,871},{268,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>platonic_active0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-31}</string>
                <key>spriteSize</key>
                <string>{252,266}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{811,1449},{252,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>platonic_active0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-26}</string>
                <key>spriteSize</key>
                <string>{236,260}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{815,1147},{236,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>platonic_active0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-27}</string>
                <key>spriteSize</key>
                <string>{224,260}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1053,1147},{224,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>platonic_active0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-32}</string>
                <key>spriteSize</key>
                <string>{216,254}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1217,555},{216,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>platonic_active0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-35}</string>
                <key>spriteSize</key>
                <string>{206,234}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1639,431},{206,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_active0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-32}</string>
                <key>spriteSize</key>
                <string>{196,220}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1709,1057},{196,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_active0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-31}</string>
                <key>spriteSize</key>
                <string>{198,214}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1279,1281},{198,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>platonic_spawn0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-31}</string>
                <key>spriteSize</key>
                <string>{198,212}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1485,1297},{198,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-26}</string>
                <key>spriteSize</key>
                <string>{218,218}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1485,1077},{218,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>platonic_spawn0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-21}</string>
                <key>spriteSize</key>
                <string>{246,218}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1709,211},{246,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>platonic_spawn0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-17}</string>
                <key>spriteSize</key>
                <string>{274,212}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1003,565},{274,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-14}</string>
                <key>spriteSize</key>
                <string>{290,200}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{403,1501},{290,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-16}</string>
                <key>spriteSize</key>
                <string>{296,192}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{217,307},{296,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-17}</string>
                <key>spriteSize</key>
                <string>{290,198}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{407,903},{290,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-13}</string>
                <key>spriteSize</key>
                <string>{296,204}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,909},{296,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-8}</string>
                <key>spriteSize</key>
                <string>{296,204}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1207},{296,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-4}</string>
                <key>spriteSize</key>
                <string>{290,196}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{599,593},{290,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-11}</string>
                <key>spriteSize</key>
                <string>{296,198}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{207,909},{296,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-21}</string>
                <key>spriteSize</key>
                <string>{292,196}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{207,1207},{292,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-24}</string>
                <key>spriteSize</key>
                <string>{276,206}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1081,1},{276,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-27}</string>
                <key>spriteSize</key>
                <string>{248,212}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1389,271},{248,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-29}</string>
                <key>spriteSize</key>
                <string>{222,214}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1269,1635},{222,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-31}</string>
                <key>spriteSize</key>
                <string>{198,212}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1699,1475},{198,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-26}</string>
                <key>spriteSize</key>
                <string>{218,218}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1705,1255},{218,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>platonic_spawn0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-21}</string>
                <key>spriteSize</key>
                <string>{246,218}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1261,811},{246,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-16}</string>
                <key>spriteSize</key>
                <string>{274,212}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1175,279},{274,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-14}</string>
                <key>spriteSize</key>
                <string>{290,200}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{405,1207},{290,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-18}</string>
                <key>spriteSize</key>
                <string>{296,194}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{209,611},{296,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-20}</string>
                <key>spriteSize</key>
                <string>{292,200}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{487,1},{292,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-17}</string>
                <key>spriteSize</key>
                <string>{296,206}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,611},{296,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-13}</string>
                <key>spriteSize</key>
                <string>{296,204}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1505},{296,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-9}</string>
                <key>spriteSize</key>
                <string>{290,194}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{609,295},{290,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-14}</string>
                <key>spriteSize</key>
                <string>{296,192}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{405,605},{296,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-22}</string>
                <key>spriteSize</key>
                <string>{292,194}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{207,1501},{292,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-24}</string>
                <key>spriteSize</key>
                <string>{276,206}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{607,1171},{276,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-27}</string>
                <key>spriteSize</key>
                <string>{248,212}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1495,1},{248,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>platonic_spawn0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-29}</string>
                <key>spriteSize</key>
                <string>{222,214}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1485,861},{222,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>platonic_spawn0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-31}</string>
                <key>spriteSize</key>
                <string>{198,212}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1485,1497},{198,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>platonic.png</string>
            <key>size</key>
            <string>{1958,1886}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50bafe5f66cf65cc0a93494de0ce276a:80eebfe0ff82d984fcb430f077ff8a6d:904668db7aa0774ffc8adf6314d5c57f$</string>
            <key>textureFileName</key>
            <string>platonic.png</string>
        </dict>
    </dict>
</plist>
