<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_funnel0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,7}</string>
                <key>spriteSize</key>
                <string>{326,178}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{665,1},{326,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_funnel0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,2}</string>
                <key>spriteSize</key>
                <string>{330,190}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{330,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_funnel0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,13}</string>
                <key>spriteSize</key>
                <string>{322,166}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,895},{322,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_funnel0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,13}</string>
                <key>spriteSize</key>
                <string>{326,166}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,193},{326,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_funnel0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,8}</string>
                <key>spriteSize</key>
                <string>{324,176}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{327,549},{324,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_funnel0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,6}</string>
                <key>spriteSize</key>
                <string>{330,182}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{333,1},{330,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_funnel0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,7}</string>
                <key>spriteSize</key>
                <string>{324,178}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,543},{324,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_funnel0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,11}</string>
                <key>spriteSize</key>
                <string>{324,170}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,723},{324,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_funnel0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,13}</string>
                <key>spriteSize</key>
                <string>{322,166}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{325,1073},{322,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_funnel0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,12}</string>
                <key>spriteSize</key>
                <string>{324,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{653,711},{324,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_funnel0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,8}</string>
                <key>spriteSize</key>
                <string>{322,176}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{325,895},{322,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_funnel0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,6}</string>
                <key>spriteSize</key>
                <string>{322,180}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{653,881},{322,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_funnel0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,7}</string>
                <key>spriteSize</key>
                <string>{324,180}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,361},{324,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_funnel0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,7}</string>
                <key>spriteSize</key>
                <string>{324,178}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{653,531},{324,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_funnel0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,13}</string>
                <key>spriteSize</key>
                <string>{324,166}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{327,727},{324,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_funnel0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,6}</string>
                <key>spriteSize</key>
                <string>{328,180}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{333,185},{328,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_funnel0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,8}</string>
                <key>spriteSize</key>
                <string>{322,178}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1063},{322,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_funnel0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,9}</string>
                <key>spriteSize</key>
                <string>{326,176}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{665,181},{326,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_funnel0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,7}</string>
                <key>spriteSize</key>
                <string>{324,180}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{327,367},{324,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_funnel0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,12}</string>
                <key>spriteSize</key>
                <string>{326,170}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{663,359},{326,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_funnel0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,13}</string>
                <key>spriteSize</key>
                <string>{322,166}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{649,1063},{322,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ship_funnel.png</string>
            <key>size</key>
            <string>{992,1242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f208190125015063449c9e623a882e8f:f4a56e0349cb1d539d75693ea4641ad1:f5db892db02955c4503586cc3da45979$</string>
            <key>textureFileName</key>
            <string>ship_funnel.png</string>
        </dict>
    </dict>
</plist>
