<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_back0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,17}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1667},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,17}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{425,1667},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,17}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1501,1},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,17}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1499,239},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,17}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1491,477},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,17}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{981,953},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,17}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1481,715},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,17}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{491,1191},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,17}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{487,1429},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,17}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{849,1667},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,17}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1405,953},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,17}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{915,1191},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,17}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{911,1429},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,17}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1273,1667},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,17}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1339,1191},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,17}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1335,1429},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_idle0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,17}</string>
                <key>spriteSize</key>
                <string>{496,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1001,239},{496,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_idle0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,17}</string>
                <key>spriteSize</key>
                <string>{498,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{498,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_idle0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,17}</string>
                <key>spriteSize</key>
                <string>{498,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,239},{498,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_idle0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{488,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1001,477},{488,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_idle0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,17}</string>
                <key>spriteSize</key>
                <string>{498,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{501,1},{498,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_idle0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,17}</string>
                <key>spriteSize</key>
                <string>{498,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,477},{498,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_idle0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{488,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1191},{488,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_idle0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,17}</string>
                <key>spriteSize</key>
                <string>{486,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{493,953},{486,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_idle0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,17}</string>
                <key>spriteSize</key>
                <string>{498,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{501,239},{498,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_idle0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,17}</string>
                <key>spriteSize</key>
                <string>{498,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1001,1},{498,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_idle0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,17}</string>
                <key>spriteSize</key>
                <string>{486,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{993,715},{486,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_idle0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,17}</string>
                <key>spriteSize</key>
                <string>{490,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,953},{490,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_idle0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,17}</string>
                <key>spriteSize</key>
                <string>{498,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,715},{498,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_idle0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,17}</string>
                <key>spriteSize</key>
                <string>{490,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{501,715},{490,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_idle0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,17}</string>
                <key>spriteSize</key>
                <string>{484,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1429},{484,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_idle0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,17}</string>
                <key>spriteSize</key>
                <string>{498,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{501,477},{498,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ship.png</string>
            <key>size</key>
            <string>{1924,1904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5e78a5700623c169c1998151c80eff3:c701a2fc7f6800190964556923d2914a:f1b1595215ba174b25f5f9ec6de1c8bc$</string>
            <key>textureFileName</key>
            <string>ship.png</string>
        </dict>
    </dict>
</plist>
