<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_back0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{422,236}</string>
                <key>textureRect</key>
                <string>{{1,1},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{422,236}</string>
                <key>textureRect</key>
                <string>{{425,1},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{422,236}</string>
                <key>textureRect</key>
                <string>{{1,239},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{422,236}</string>
                <key>textureRect</key>
                <string>{{425,239},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{422,236}</string>
                <key>textureRect</key>
                <string>{{1,477},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{422,236}</string>
                <key>textureRect</key>
                <string>{{425,477},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{422,236}</string>
                <key>textureRect</key>
                <string>{{1,715},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{422,236}</string>
                <key>textureRect</key>
                <string>{{425,715},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{422,236}</string>
                <key>textureRect</key>
                <string>{{1,953},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{422,236}</string>
                <key>textureRect</key>
                <string>{{425,953},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{422,236}</string>
                <key>textureRect</key>
                <string>{{1,1191},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{422,236}</string>
                <key>textureRect</key>
                <string>{{425,1191},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{422,236}</string>
                <key>textureRect</key>
                <string>{{1,1429},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{422,236}</string>
                <key>textureRect</key>
                <string>{{425,1429},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{422,236}</string>
                <key>textureRect</key>
                <string>{{1,1667},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_back0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,236}</string>
                <key>spriteSourceSize</key>
                <string>{422,236}</string>
                <key>textureRect</key>
                <string>{{425,1667},{422,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ship_back-0.png</string>
            <key>size</key>
            <string>{848,1904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c43a167fed9dd33d91c0a5ac8ef1dda5:0a89cfa4086d0aa8f8db1e4fa4f9099a:e4002d8c1cd922d209b8ed06be9ebf4d$</string>
            <key>textureFileName</key>
            <string>ship_back-0.png</string>
        </dict>
    </dict>
</plist>
