<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_spawn0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,52}</string>
                <key>spriteSize</key>
                <string>{274,76}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1873,661},{274,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,52}</string>
                <key>spriteSize</key>
                <string>{280,76}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1657,1},{280,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_spawn0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,52}</string>
                <key>spriteSize</key>
                <string>{276,76}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1759,303},{276,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,52}</string>
                <key>spriteSize</key>
                <string>{270,76}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1329,853},{270,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,52}</string>
                <key>spriteSize</key>
                <string>{276,76}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1837,303},{276,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,52}</string>
                <key>spriteSize</key>
                <string>{278,76}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1657,225},{278,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_spawn0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,53}</string>
                <key>spriteSize</key>
                <string>{268,78}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1553,851},{268,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,53}</string>
                <key>spriteSize</key>
                <string>{272,78}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1407,851},{272,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,53}</string>
                <key>spriteSize</key>
                <string>{278,78}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1483,665},{278,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_spawn0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,53}</string>
                <key>spriteSize</key>
                <string>{270,78}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1249,853},{270,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,53}</string>
                <key>spriteSize</key>
                <string>{276,78}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1439,303},{276,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,53}</string>
                <key>spriteSize</key>
                <string>{278,78}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1657,145},{278,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_spawn0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,53}</string>
                <key>spriteSize</key>
                <string>{274,78}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1713,745},{274,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,53}</string>
                <key>spriteSize</key>
                <string>{282,78}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1437,1},{282,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,53}</string>
                <key>spriteSize</key>
                <string>{276,78}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1519,303},{276,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,53}</string>
                <key>spriteSize</key>
                <string>{276,78}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1599,303},{276,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,53}</string>
                <key>spriteSize</key>
                <string>{266,78}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1633,851},{266,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,53}</string>
                <key>spriteSize</key>
                <string>{276,78}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1657,581},{276,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_spawn0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,53}</string>
                <key>spriteSize</key>
                <string>{276,78}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1679,303},{276,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,53}</string>
                <key>spriteSize</key>
                <string>{274,78}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1793,661},{274,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,53}</string>
                <key>spriteSize</key>
                <string>{280,78}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1375,585},{280,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_spawn0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,53}</string>
                <key>spriteSize</key>
                <string>{276,76}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1517,1},{276,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,52}</string>
                <key>spriteSize</key>
                <string>{276,66}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1205,683},{276,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_spawn0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,55}</string>
                <key>spriteSize</key>
                <string>{280,64}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1657,79},{280,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_spawn0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,58}</string>
                <key>spriteSize</key>
                <string>{272,64}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1487,851},{272,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,61}</string>
                <key>spriteSize</key>
                <string>{284,62}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1375,299},{284,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,63}</string>
                <key>spriteSize</key>
                <string>{296,82}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1353,1},{296,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,62}</string>
                <key>spriteSize</key>
                <string>{304,100}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1087,751},{304,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_spawn0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,66}</string>
                <key>spriteSize</key>
                <string>{316,98}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1393,751},{316,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_spawn0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,78}</string>
                <key>spriteSize</key>
                <string>{320,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1281,331},{320,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,85}</string>
                <key>spriteSize</key>
                <string>{328,82}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1269,1},{328,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,90}</string>
                <key>spriteSize</key>
                <string>{330,74}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1205,351},{330,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,90}</string>
                <key>spriteSize</key>
                <string>{348,90}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1177,1},{348,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,105}</string>
                <key>spriteSize</key>
                <string>{370,116}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1087,379},{370,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,110}</string>
                <key>spriteSize</key>
                <string>{376,130}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1045,1},{376,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,103}</string>
                <key>spriteSize</key>
                <string>{384,120}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,997},{384,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_spawn0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,96}</string>
                <key>spriteSize</key>
                <string>{390,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{783,879},{390,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_spawn0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,92}</string>
                <key>spriteSize</key>
                <string>{398,100}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{943,1},{398,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,78}</string>
                <key>spriteSize</key>
                <string>{406,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{841,983},{406,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_spawn0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,65}</string>
                <key>spriteSize</key>
                <string>{414,160}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{925,427},{414,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,61}</string>
                <key>spriteSize</key>
                <string>{424,154}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{787,1},{424,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,70}</string>
                <key>spriteSize</key>
                <string>{432,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{783,445},{432,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,58}</string>
                <key>spriteSize</key>
                <string>{442,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{645,1},{442,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,43}</string>
                <key>spriteSize</key>
                <string>{452,132}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{387,991},{452,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_spawn0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,32}</string>
                <key>spriteSize</key>
                <string>{462,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{633,483},{462,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,24}</string>
                <key>spriteSize</key>
                <string>{472,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{463,483},{472,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,28}</string>
                <key>spriteSize</key>
                <string>{480,194}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{449,1},{480,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,30}</string>
                <key>spriteSize</key>
                <string>{486,208}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{239,1},{486,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,25}</string>
                <key>spriteSize</key>
                <string>{488,224}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{237,501},{488,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,19}</string>
                <key>spriteSize</key>
                <string>{494,234}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,501},{494,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_spawn0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,17}</string>
                <key>spriteSize</key>
                <string>{498,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{498,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ship_spawn.png</string>
            <key>size</key>
            <string>{1950,1124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:998e7c6797fccd420eee8df6479acc3c:69762084b1e93edb730f68da53096143:23d8f949b8caa54d4dedfce389fedfcb$</string>
            <key>textureFileName</key>
            <string>ship_spawn.png</string>
        </dict>
    </dict>
</plist>
